#header {
    position: relative;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .header h1 {
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-white);
    position: relative;
    padding-bottom: 2rem;
  }
  
  h1 span {
    font-weight: 500;
  }
  
  .header h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 1px;
    background: var(--color-white);
  }
  
  .header-left p {
    margin: 3rem 0;
    color: var(--color-white);
    /* width: 70%; */
    font-size: 2rem;
  }

  .getStarted-lnk {
    border: solid;
    padding: 0.5rem;
    color: orangered;
  }

  .getStarted-lnk:hover {
    border: solid;
    color: white;
  }

  .howItWorks-lnk {
    border: solid;
    padding: 0.5rem;
    color: white;
  }
  

 
  
  
  
 
  
  