section#aboutUs {
    background: linear-gradient(
        90deg,
        rgb(255, 94, 45) 45%,
        rgb(245, 1, 1) 100%
    );
    text-align: center;
    color: #fff;
}
  
.aboutUs h2 {
    font-size: 2rem;
}
  
  