.uploading {
    background-color: #0a1930;
    padding-bottom: 16.6rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.uploading h1 {
    font-size: 2rem;
    padding-top: 10rem;
    color: white;
    font-weight: 300;
    padding-bottom: 9.8rem;
    margin-left: 45rem;
    padding-top: 13.7rem;
}

.uploading h2 {
    /* font-size: 2rem; */
    color: white;
    font-weight: 300;
    margin-left: 1rem;
    padding-top: 5rem;
    /* position: absolute; */
}

.input-csv {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    width: 24%;
    font-size: 1.6rem;
    margin-left: 1rem;
    cursor: pointer;
    margin-top: 5rem;
    /* position: relative; */
    top: 40px;
    /* display: inline-block; */
}

.input-add-package {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    width: 13%;
    font-size: 1.6rem;
    margin-left: 1rem;
    cursor: pointer;
    /* margin-top: 5rem; */
    /* position: relative; */
    top: 40px;
    /* display: inline-block; */
}

.add-button {
    font-size: small;
    padding: 5px;
    width: auto;
    background-color: #0a1930;
    border-color: white;
    /* display: inline; */
}

.set-button {
    font-size: small;
    padding: 5px;
    width: auto;
    background-color: #0a1930;
    border-color: white;
}

.input-container {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    width: 13%;
    font-size: 1.6rem;
    margin-left: 1rem;
    cursor: pointer;
    top: 40px;

}

.nav-upload {
    background-color: #0a1930;   
}

table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    font-size: 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    background-color: #0a1930;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #204e92;
}

 td {
    background-color: #f2f2f2;
}

th.actions {
    width: 120px; /* adjust as needed */
}

td.actions div {
    display: flex;
    gap: 5px;
}


